.movie-actions-container {
    button i {
      transition: 0.3s color;
  
      &.active.fa-eye{
        color: #b8860b;
      }

      &.active.material-icons {
        color: #cb00cc;
      }

      &.active.fa-thumbtack {
        color: darkturquoise;
      }

      &.active {
        color: red;
      }
    }
  }