$primary-color: #212121;
$primary-color-light: #8E8E8E;
$primary-color-dark: #0a0a0a;

$secondary-color: #fbc02d;
$success-color: #4caf50;
$error-color: #f44336;
$link-color: #ffffff;

.color-red {
    background-color: #b70f0a !important;
}