#social {
    width: 100%;
    background-color: #f3f3f3;

    .socialContainer {
        max-width: 850px;
        margin: 3rem auto;
    }

    .social__item {
        .social__item__header {
            display: flex;
            align-items: center;

            .md-avatar {
                margin-right: 1rem;
            }
        } 

        .social__item__content {
            width: 80%;
            margin: 0 auto;
        }
    }

    .social__item--background {
        background-color: #ffffff;
        padding: 1rem;
        margin: 1.5rem 0;
    }

    .userFollow {
        overflow: hidden;

        &>div {
            display: flex;
            overflow-x: scroll;

            i {
                font-size: 60px;
                margin-right: 1rem;
            }

            &>div {
                margin-right: 1rem;

                p {
                    text-align: center;
                    font-size: 0.8rem;
                }
            }
        }
    }
}