/** CLASS **/
.right {
    float: right;
  }
  .text-right {
    text-align: right;
  }
  .text-bold {
    font-weight: bold;
  }
  .text-capitalize {
    text-transform: capitalize;
  }
  .cursor {
    cursor: pointer;
  }
  .text-gold {
    color: $secondary-color;
  }
  .btn {
    background-color: $secondary-color;
    padding: 0.3rem 1.3rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    border: none;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }