$primary-color: #212121;
$primary-color-light: #747474;
$primary-color-dark: #0a0a0a;

$secondary-color: #fbc02d;
$success-color: #4caf50;
$error-color: #f44336;
$link-color: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Roboto|Squada+One');

html {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: Roboto;

  .wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .main {
      display: flex;
      flex: 1 0 auto;
    }
  }
}

.container {
  margin: 1rem 0;
  max-width: 1200px;
  margin: 0 auto;   
}


a {
  color: $link-color;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.md-tooltip {
  font-size: 0.8rem;
}

p {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}


/** HOMEPAGE **/
#homepage {
  #homepage_presentation {
    position: relative;
  
    #homepage_presentation--description {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      color: #ffffff;
  
      h1 {
        color: #ffffff;
        font-size: 2.5em;
        border-top: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        padding: 0.5em 0;
        font-family: 'Squada One', cursive;
        text-transform: uppercase;
        text-align: center;
      }
  
      p {
        color: #ffffff;
      }
  
      p:nth-child(3) {
        margin-bottom: 2rem;
      }
    }
  
    img {
      width: 100%;
    }
  }
  
  #homepage_find-idea {
    margin: 8rem 0 1em 0;
  
    h2, p {
      text-align: center;
    }
  
    h2 {
      font-size: 2em;
    }
  
    p {
      max-width: 400px;
      margin: 0 auto;
    }
  
    .images {
      display: flex;
      margin-top: 8rem;
  
      img {
        width: 20%;
        height: 100%;
        vertical-align: top;
      }
    }
  }
}

/** HEADER **/
header {
  background-color: $primary-color;
  padding: 0 1rem;
  height: 70px;
  z-index: 1000;

  .md-text   {
    color: #ffffff;
  }

  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 300px;
    margin-left: 2rem;

    ::-webkit-input-placeholder {
        color: #ffffff;
    }
    
    :-moz-placeholder { /* Firefox 18- */
        color: #ffffff;  
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
        color: #ffffff;  
    }
    
    :-ms-input-placeholder {  
        color: #ffffff;  
    }

    .md-divider--text-field {
      background-color: #ffffff;
    }

    .md-divider--text-field::after {
      background-color: $secondary-color;
    }
  }

  nav {
    text-transform: uppercase;

    .nav_right {
      position: absolute;
      right: 50%;
      margin-right: 40px;
      top: 0;
      margin-top: 0;
      line-height: 70px;
    }
    
    .nav_left {
      position: absolute;
      left: 50%;
      margin-left: 40px;
      top: 0;
      margin-top: 0;
      line-height: 70px;
    }
    
    .logo {
      position: absolute;
      left: 50%;
      top: 0.5rem;
      transform: translateX(-50%);

      button:hover {
        background-color: transparent;
      }

      img {
         width: 66px;
         height: auto;
       }
    }

    .header_profile {
      position: absolute;
      right: 2rem;
      top: 0.5rem;
    }
  }
}

/** FOOTER **/
footer {
  background-color: $primary-color;
  padding: 1.5rem 0;

  .container {
    display: flex;

    h6 {
      margin-right: 8rem;
      margin-bottom: 2rem;
      font-size: 0.9rem;
    }
  }

  .footer-copyright {
    color: #9e9e9e;
  }
}


/** CLASS **/
.right {
  float: right;
}
.text-bold {
  font-weight: bold;
}
.text-capitalize {
  text-transform: capitalize;
}
.btn {
  background-color: $secondary-color;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border: none;
}

.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}
.pl-0 {
  padding-left: 0;
}
.ml-0 {
  margin-left: 0;
}
.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-1 {
  margin-top: 1rem;
}
.pb-1 {
  padding-bottom: 1rem;
}


/**OVERRIDE **/
.md-avatar {
  width: 60px;
  height: 60px;
  border: none;
}

/** ERROR 404 **/ 
.error-container {
  text-align: center;
  margin-top: 2rem;

  h1 {
    font-size: 8rem;
    text-shadow: 2px 2px 7px;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  p:last-child{
    margin-top: 2rem;
  }
  
  a {
    color: #000;
  }
}

/** MOVIE SHOW **/
#movieShow {
  width: 100%;

  #movie-container {
    box-shadow: 0px -3px 20px 0px;
    padding: 5rem 0;
  
    img {
      width: 100%;
    }
  
    #movie-container_infos {
      margin-top: 0;
  
      h1 {
        font-size: 1.5rem;
        color: #000000;
      }
      p {
        margin: 0.2rem 0;
      }
      .public_rate {
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 1rem;
        font-size: 0.9rem;
      }
    }
  
    h5 {
      margin-top: 0.8rem;
      font-size: 1.2rem;
    }
  
    .btn i {
      margin-right: 0.5rem;
    }
  }

  #actors-container {
    padding: 4rem 0;

    .actor_container{

      img {
        width: 100%;
      }

      .md-card-text {
        padding: 0.5rem;  

        .actor_name, .actor_role {
          text-transform: capitalize;
        }
        .actor_name {
          font-weight: bold;
        }
        .actor_role {
          font-size: 0.9em;
        } 
      }
    }
  }

  .avatar_comments_container{
    padding: 0;
    width: 74px !important;
    height: 74px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #comments-container {
    padding: 4rem 0;
    background-color: #000000;
    color: #ffffff;

    p {
      color: #ffffff;
    }
  
    .title_comments {
      font-weight: bold;
    }
    
    h5 {
      font-size: 1.4rem;
      display: inline-block;
      vertical-align: top;
      margin-top: 0;
      margin-bottom: 2rem;
      color: #ffffff;
    }
  
    a {
      color: gold;
    }
  }
}

/** MOVIE INDEX **/
#movies-suggestion-container {
  padding: 4rem 0; 

  .movies-suggestion--movies {
    padding: 1rem 0;
    display: flex;
  }
}
#movieIndex {
  background-color: #000000;
  width: 100%;

  .movie_tv_menu {
    position: fixed;
    color: #ffffff;
    padding: 2rem 1rem;
  
    h2 {
      font-size: 3em;
      color: #ffffff;
    }
    
    form {
      margin-top: 1rem;

      select {
        display: block;
        color: #000000;
      }

      #select-movie-menu{
        width: 100%;

        .md-select-field--btn {
          color: $primary-color-light;
          background-color: #ffffff;
        }
      }

      input {
        color: $primary-color-light;
        padding: 0.4rem;
      }
      
      .search {
        margin-top: 1rem;
        text-align: center;

        input {
          color: #ffffff;
          padding: 0.6rem 1.8rem;
          cursor: pointer;
        }
      }
    }
  
    .line {
      height: 1px;
      width: 100%;
      background-color: #ffffff;
    }
  
    ul li {
      margin: 1em 0;
      font-size: 1.2em;
    }
  }

  .movies-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.movie_vignette {
  position: relative;
  border-bottom: solid 1px #2d2d2d;
  border-right: solid 1px #2d2d2d;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  height: 290px;
  flex-wrap: wrap;
  flex: 1 0 30%;

  &>div:first-child {
    width:100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .actions_buttons {
    width:  100%;
    height: 250px;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: .5s ease;

    &:hover {
      opacity: 1;
      background-color: rgba(0,0,0,0.7);
      cursor: pointer;
    }

    i:hover {
      cursor: pointer;
    }

    button {
      color: #ffffff
    }
  }
  &>div.movie_title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 0.5em;
    
    &:hover {
      cursor: pointer;
    }

    p {
      color: #ffffff;
      width: 85%;
      display: inline-block;
      vertical-align: top;
      padding-top: 0.1em;
      padding-left: 0.5em;
      font-size: 1em;
      margin: 0;
    }
    button {
      color: #ffffff
    }
  }
}

/** REGISTRATION / LOGIN **/
#registration-login {
  background-image: url('images/resgistration_login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  h5 {
    font-size: 1.5rem;
  }

  .registration-login_container-box {
    max-width: 480px;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: #ffffff;
    padding: 3rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    
    .md-text--theme-primary{
      color: $secondary-color;
    }

    .md-divider--text-field::after {
      background-color: $secondary-color;
    }

    label, input {
      left: 0;
      width: 100%;
      text-align: left;
    }

    #password-forgotten {
      text-align: right;
      color: #000000;
      font-size: 0.8rem;
      color: $error-color;
      display: block;
      margin-top: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    .btn:hover {
      cursor: pointer;
    }

    .login-btn a {
      color: #000000;
      font-size: 0.8rem;
      margin-top: 2rem;
      display: block;
    }
  }
}

/** STATIC PAGES**/
#cgu, #legal-mentions {
  h5 {
    font-size: 1.5em;
    text-align: center;
    margin: 2em 0;
  }

  h6 {
    margin: 1.5em 0;
    font-size: 1.2em;
    font-weight: bold;
  }

  p.title {
    color: #b51a00;
  }

  span {
    color: #000000;
    font-weight: bold;
  }

  a {
    color: #000000;
  }
}


/* The side navigation menu */
#sidenav {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1000; 
  top: 0; 
  right: 0;
  background-color: #ffffff; 
  color: $primary-color;
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 1.2rem;

  .sidenav_header {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;

    p {
      padding: 0;
      margin: 0.4rem 0;
    }
  }

  .line{
    height: 1px;
    background-color: $primary-color-light;
  }

  p {
    margin-top: 1rem;
  }

  p, a {
    padding: 0.6rem 2rem;
    color: $primary-color-light;
  }

  a {
    font-size: 1.2rem;
    color: $primary-color-light;
    display: block;
    transition: 0.3s;

    &:hover {
      color: $secondary-color;
    }
  }

  i {
    margin-right: 1rem;
    vertical-align: middle;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/** USER PROFILE **/
#user-profile {
  width: 100%;

  .user-profile__header {
    padding-top: 2rem;


    .md-avatar {
      width: 100px;
      height: 100px;
    }

    .user-profile__header__info {
      display: inline-block;
      vertical-align: top;
      padding-left: 1em;
  
      h3, p {
        margin: 0;
      }
  
      h3 {
        font-size: 1.9em;
      }
  
      p {
        font-size: 1.3em;
        color: #4a4a4a;
      }
    }

    .user-profile__header__tracking {
      margin-top: 1rem;
      padding: 1rem 0;
      background: rgba(0, 0, 0, 0.6);
      color: #ececec;

      i {
        font-size: 2.5rem;
      }
      
      p {
        color: #ececec;
      }
    }
  }

  .profile_menu {
    text-align: center;
    text-transform: uppercase;

    li.active {
      border-bottom: 1px solid $secondary-color;
    }
    a {
      color: $secondary-color;
    }
  }
}
.background-trianglify {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}